@font-face {
    font-family: 'Ubuntu';
    src: url(fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu Med';
    src: url(fonts/Ubuntu-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Ubuntu';
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 166, 187);
}

.time {
    width: 450px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(3, 70, 133);
    box-shadow: 0px 0px 15px 1px rgb(0, 58, 97);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.timespan {
    padding-right: 35px;
}

input {
    outline: none;
    background: transparent;
    border: none;
    width: 50px;
    font-size: 30px;
    text-align: right;
}

.info {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Ubuntu Med';
    width: 450px;
}

button {
    width: 215px;
    height: 60px;
    background-color: rgb(0, 58, 97);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgb(0, 58, 97);
    margin: 40px 20px 0px 0px;
    font-family: 'Ubuntu Med';
    font-size: 17px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}