@font-face {
    font-family: 'Roboto';
    src: url(../fonts_/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto_';
    src: url(../fonts_/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'haas';
    src: url(../fonts_/Neue_Haas_Grotesk/NHaasGroteskDSPro-45Lt.otf);
}
@font-face {
    font-family: 'haas_';
    src: url(../fonts_/Neue_Haas_Grotesk/NHaasGroteskDSPro-65Md.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    user-select: none;
}
html, body, .nav-buttons, .circle, .google, .camera, .battery, .batteryInfo {
    display: flex;
    align-items: center;
}
html, body, .nav-buttons, .circle, .google, .camera {
    justify-content: center;
}
#temp, .dweek, .twone-1, .battery, .search {
    font-family: 'Roboto', sans-serif;
}
.container, .oneplus, .battery {
    position: relative;
}
.right_btn, .right_btn, .left_btn_one, .left_btn_two, .nav-buttons, .weatherInfo, #temp, .beeline, .uv_time, .finger, .search, .google, .camera, .text {
    position: absolute;
}

html, body {
    width: 100%;
    height: 100%;
    background: #00000a;
}

.oneplus {
    border-radius: 40px;
    border: 10px solid #1e1c1d;
    width: 360px;
    height: 744px;
    background-color: black;
}

.right_btn {
    right: -12px;
    top: 280px;
    width: 3px;
    height: 60px;
    border-radius: 100px;
    background: #252323;
}

.left_btn_one {
    left: -12px;
    top: 240px;
    width: 3px;
    height: 45px;
    border-radius: 100px;
    background: #252323;
}

.left_btn_two {
    left: -12px;
    top: 293px;
    width: 3px;
    height: 45px;
    border-radius: 100px;
    background: #252323;
}

.nav-buttons {
    width: 100%;
    bottom: 20px;
    left: 0;
}

.nav-buttons i {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.55);
}

.weatherInfo {
    top: 275px;
    left: 20px;
}

#weather {
    font-size: 30px;
    margin-left: 20px;
}

#place {
    font: 600 12px sans-serif;
    margin-bottom: 10px;
}

#temp {
    width: 60px;
    top: 20px;
    left: 90px;
}

.circle {
    margin-top: 10px;
    margin-left: 162px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px rgba(255, 255, 255, 0.15) solid;
    background-color: black;
}

.circle .center-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
}

.content-1 {
    opacity: 0;
    transform: scale(0.9, 0.9);
    margin-top: 47px;
    padding-left: 17px;
}

@keyframes appear {
    to {
        transform: scale(1, 1);
        opacity: 0.55;
    }
}

@keyframes appear-finger {
    to {
        opacity: 0.4;
    }
}

.beeline {
    top: 15px;
    left: 28px;
    font-size: 10px;
    font-family: sans-serif;
}

.uv_time {
    top: 15px;
    left: 28px;
    font-size: 11px;
    font-family: sans-serif;
}

.uv_time i {
    margin-right: 7px;
}

.dweek {
    font-size: 35px;
    margin-bottom: 8px;
}

.time {
    font-family: 'haas', sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
}

.one {
    color: #c91343;
}

.one-1 {
    color: red;
}

.date {
    font-family: 'Roboto_', sans-serif;
    font-size: 17px;
    margin-bottom: 24px;
}

.twone {
    font-family: 'haas', sans-serif;
}

.battery {
    font-size: 15px;
    margin-bottom: 10px;
}

.i-battery {
    margin: 0 3px 1px 0;
}

.content-2 .i-battery, .content-3 .i-battery {
    margin-top: 1px;
}

.i-bluetooth, .i-wifi, .i-signal {
    margin-right: 2px;
    font-size: 14px;
}

.uv i {
    font-size: 17px;
    margin-right: 11px;
}

.finger {
    width: 50px;
    height: 50px;
    font-size: 50px;
    bottom: 45px;
    left: 145px;
    text-align: center;
    border-radius: 50%;
}

.i-finger {
    border-radius: 50%;
    opacity: 0;
}

.finger:active {
    background: white;
}

.search {
    width: 65px;
    height: 25px;
    border-radius: 100px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 127px;
    left: 137px;
    font-size: 10px;
}

.search:active {
    background-color: rgba(255, 255, 255, 0.55);
}

.google, .camera {
    bottom: 22px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}

.i-google, .i-camera {
    font-size: 14px;
}

.google {
    left: 22px;
}

.camera {
    right: 22px;
}

.text {
    width: 360px;
    font-size: 20px;
    bottom: -60px;
    font-family: 'haas_', sans-serif;
    text-align: center;
}